<tr id="bodyTable">
  <td id="line2"><%=programa.id%></td>
  <td id="line2"><%=programa.nombre%></td>
  <td id="line2">
    <%= link_to 'mas informacion', area_programa_path(@area, programa), :class => 'btn btn-primary' %>
  </td>
</tr>
